html, body{
    margin: 0;
    padding: 0;
    background-color: hsl(209, 69%, 76%);;
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    width: 425px;
    height: 425px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px rgba(82, 76, 76, 0.705);
    background-color: white;
    
    
}
  
.cont{
    height: 650px;
}

.contq4{
    height: 850px;
    width: 850px;
}
.cartao{
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
    
}

.resposta{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    border: 3px solid;
    width: 100px;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    display: flex;
    align-self:center;
    text-align: center;
    width: 50%;
}

button{
    display: flex;
    justify-content: center;
    align-self:center;
    width: 20%;
}

ol{
    list-style-type: lower-alpha;
    text-align: justify;
    
}

li{
    padding: 4px;
}

.links{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:25px 50px 25px 50px;
}

a{
    text-decoration: none;
    
}

a:visited{
    color: black;
}


